/dts-v1/;
/plugin/;

/ {
	compatible = "allwinner,sun4i-a10", "allwinner,sun7i-a20";

	fragment@0 {
		target = <&lradc>;
		__overlay__ {
            vref-supply = <&reg_vcc3v0>;
			status = "okay";

            button-1000 {
                label ="Up";
                linux,code = <KEY_UP>;
                channel = <0>;
                voltage = <800000>;
            }

            button-1200 {
                label ="Down";
                linux,code = <KEY_DOWN>;
                channel = <0>;
                voltage = <1000000>;
            }

            button-1500 {
                label ="Left";
                linux,code = <KEY_LEFT>;
                channel = <0>;
                voltage = <120000>;
            }

            button-1800 {
                label ="Right";
                linux,code = <KEY_RIGHT>;
                channel = <0>;
                voltage = <140000>;
            }
			
		};
	
	};
};
